.circle
{
	width: 100px;
	height:130px;
	border-radius: 50%;
	float:left;
	margin-right: 50px;


}

#red-circle{
	background-color: red;
}

#blue-circle{
	background-color:blue ;
}
#green-circle{
	background-color: green;
}